<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="CapitalContext" 
         connectionString="Server=localhost;Database=CapitalGen;User ID=appAdmin;Password=$please#42;MultipleActiveResultSets=true"  
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>